+++
title = 'Network Verification'
date = 2024-05-17T15:25:56+08:00
draft = false
type = 'research'
layout = 'research'
label = "Verification"

intro = """Network verification is a revolutional approach to operate a network: it uses formal methods to prove the network is always in a correct state. In this way, operators can prevent misconfigurations from causing outages."""

detailedIntro = [
  "Network is a critical infrastructure but configuring it is rather complex and easily goes wrong. Traditionally, after a network error is detected, operators use measurement tools to localize the root causes. Such a post-effect approach puts networks at risks of unpredictable down time. Network verification is a revolutional approach: it uses formal methods to either prove the correctness of configurations, or finds counterexamples that violate correctness properties, such that potential outages can be prevented."
]

img = "/research/Verification.png"
imgDark = "/research/Verification_dark.png"
+++
