+++
title = 'Network Verification'
date = 2024-05-17T15:25:56+08:00
draft = false
type = 'research'
layout = 'research'

intro = """Networks are critical infrastructures that are expected to be always online. However, like any other software and hardware, networks can also go wrong, even leading to global outages. To reduce network down time, operators often use measurement tools to debug the network errors after network outages. Such post-effect approach puts networks at risks of unpredictable down time. Network verification is a revolutional approach: it can ensure the network is always in a correct state, by continuously proving the configurations, RIBs/FIBs , ACLs are conforming to specifications, using formal methods. In this way, operators can predict potential network outages even before they happen, and then take countermeasures to prevent the outages."""

img = "/research/CPV.jpg"
+++
