+++
title = 'Incremental Network Configuration Verification'
date = 2020
type = 'paper'
layout = 'paper'
draft = false

research_label = ["", ""]
bibtex = """@inproceedings{zhang2020incremental,
  title={Incremental network configuration verification},
  author={Zhang, Peng and Huang, Yuhao and Gember-Jacobson, Aaron and Shi, Wenbo and Liu, Xu and Yang, Hongkun and Zuo, Zhiqiang},
  booktitle={Proceedings of the 19th ACM Workshop on Hot Topics in Networks},
  pages={81--87},
  year={2020}
}"""
abstract = [
    "",
    ""
]
publisher = "Proceedings of ACM HotNets'20"
pdf = 'http://nskeylab.xjtu.edu.cn/people/pzhang/files/2020/10/hotnets20.pdf'
[[paper.author]]
    name = 'Peng Zhang'
    id = 'pzhang'
[[paper.author]]
    name = 'Yuhao Huang'
[[paper.author]]
    name = 'Aaron Gember-Jacobson'
    url = 'https://aaron.gember-jacobson.com'
[[paper.author]]
    name = 'Wenbo Shi'
[[paper.author]]
    name = 'Xu Liu'
    id = 'xliu'
[[paper.author]]
    name = 'Hongkun Yang'
[[paper.author]]
    name = 'Zhiqiang Zuo'
+++
