name: GitHub Pages

on:
  push:
    branches:
      - main  # Set a branch to deploy
  pull_request:

jobs:
  deploy:
    permissions:
      contents: write
    runs-on: ubuntu-22.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          # The action defaults to search for the dependency file (package-lock.json,
          # npm-shrinkwrap.json or yarn.lock) in the repository root, and uses its
          # hash as a part of the cache key.
          # https://github.com/actions/setup-node/blob/main/docs/advanced-usage.md#caching-packages-data
          cache-dependency-path: '**/package-lock.json'

      - name: npm install
        run: npm ci

      - name: update papers in zh
        run: rsync -av content/en/papers/ content/zh/papers/ --exclude=_index.md
        # rsync -a content/en/papers/* content/zh/papers/

      - name: update people in zh
        run: rsync -av content/en/people/ content/zh/people/ --exclude=_index.md
        # run: |
        #   cp -r content/en/people/ content/zh/people/
        #   cp -r content/en/people/student content/zh/people/
        #   cp -r content/en/people/mentor content/zh/people/
        # run: rsync -a content/en/people/* content/zh/people/

      - name: update research in zh
        run: rsync -av content/en/research/ content/zh/research/ --exclude=_index.md
        # rsync -a content/en/research/* content/zh/research/

      - name: Build
        run: npm run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
